In [16]:
l = {1,2,3,4,5}

In [7]:
from pandas import DataFrame as DF

In [17]:
Data1 = DF(l)
Data1

   0
0  1
1  2
2  3
3  4
4  5

In [24]:
l1= [[1,2,3],(4,5,6),{7,8,9}]
Data2 = DF(l1, columns = ['a','b','c'])
Data2
Data2.columns

Index(['a', 'b', 'c'], dtype='object')

In [27]:
for i in (Data2.columns):
    print(i)

a
b
c

In [30]:
Data2.values

array([[1, 2, 3],
       [4, 5, 6],
       [8, 9, 7]], dtype=int64)

In [32]:
Dict1 = {"Name": "Gaurang", "Sec":"B", "roll":2022}

In [35]:
Data11 = DF(Dict1, index = [1])
Data11

      Name Sec  roll
1  Gaurang   B  2022

In [53]:
Dict2 = {"Name":{'one':"Gaurang", 'two':"Vibek", 'three':"Sagnik"}, "RollNo.":{"one":"1", "two":"2"}}
Data12 = DF(Dict2)
Data12=Data12.sort_index(axis=0, na_position='first',kind='heapsort')
Data12

          Name RollNo.
one    Gaurang       1
three   Sagnik     NaN
two      Vibek       2