In [24]:
from pandas import DataFrame as DF
l1 = [1,2,4]
data1 = DF(l1, columns=["one"])
data1

In [7]:
data1.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
data1.columns

Index(['one'], dtype='object')

In [19]:
Dict1 = {'name':'Gaurang', 'class':'B', 'roll':2022}
data2 = DF(Dict1, index = [1])
data2

      name class  roll
1  Gaurang     B  2022

In [22]:
Dict2 = {"name":['Gaurang','Sagnik'],"class":[1,2]}
data12 = DF(Dict2)
data12

      name  class
0  Gaurang      1
1   Sagnik      2

In [ ]:
names = [ x for x in input("Enter names seperated by spaces: ").split()]
roll = [int(x) for x in input("Enter roll no seperated by spaces: ").split()]
sec = [x for x in input("Enter sec seperated by spaces: ").split()]
dataBase = DF({"Names":names, "Roll No.":roll, "Section": sec})